/* FormInput.css */
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.form-group__icon {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 24px;
  color: var(--icons-color, #06d6a0);
}

.form-group__input {
  position: relative; /* Change to relative to allow the label to flow naturally */
  background-color: transparent;
  border: 1px solid var(--border-color, #06d6a0);
  padding: 16px;
  border-radius: 8px;
  min-width: 350px;
  text-indent: 28px;
  width: 100%; /* Allow the input to fill the container */
}

.form-group__label {
  position: absolute;
  /* background-color: white; */
  top: 12px;
  left: 42px;
  pointer-events: none;
  color: var(--textfield-text-color, #06d6a0);
  transition: transform 0.3s ease;
}

.form-group__input:focus,
.form-group__input:focus + .form-group__label {
  border-color: #06d6a0; /* Change the border color when input is focused */
}

.form-group__label--filled + .form-group__input,
.form-group__input:focus + .form-group__label {
  transform: translate(-40px, -36px) scale(0.8);
  padding: 0 4px;
}

.form-group__error {
  position: relative;
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 4px;
  left: 12px;
}
