@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    /* Color Palette */
    --light-background: #F5F5F5;
    --dark-background: #212121;
    --border-color: #BDBDBD;
    --icons-color: #828282;
    --textfield-text-color: #828282;
    --button-background-color: #2F80ED;

    /* Font */
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Remove default outline */
    outline: none;
}

html {
    display: grid;
    place-items: center;
    height: 100%;
}